<header>
	<nav id="navigation" class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="nav-top row">
				<div class="col-sm-3 left">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-navbar">
							<span class="glyphicon glyphicon-user"></span>
						</button>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#strideshow-navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<button type="button" class="navbar-toggle">
              <a href="/demo">Demo</a>
						</button>
						<div class="strideshow-brand">
							<a href="/" class="navbar-brand">
								<h1>StrideShow</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 center">
					<div class="collapse navbar-collapse" id="strideshow-navbar">
						<ul class="nav navbar-nav">
							<li><a href="#">Product</a></li>
							<li><a href="#">App</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">About</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 right">
					<div class="collapse navbar-collapse" id="user-navbar">
						<ul class="nav navbar-nav user">
							<li><a href="/login">Login</a></li>
							<li><a href="/login">Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
