<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=1024" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="description" content="A presentation using impress js" />
	<meta name="author" content="Ruxuan Li" />

	<link rel="stylesheet" type="text/css" href="/styles/demo.css" />

	<style>
		{{ presentation.css }}
	</style>

	<title>{{ meta_data.title }}</title>
</head>

<body class="impress-not-supported">
	<div class="fallback-message">
		<p>Your browser doesn't support the features required by impress.js</p>
		<p>For the best experience please use Google Chrome</p>
	</div>

	<div id="impress">
		{{ presentation.html | safe }}
	</div>

	<script type="text/javascript" src="/js/impress.js"></script>
	<script>impress()</script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/demo-client.js"></script>

</body>
</html>