{% extends "layout.html" %}

{% block title %}
	Demo | StrideShow
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/styles/demo.css" />
{% endblock %}

{% block js %}
	<script>
		window.strideshow = {};
		window.strideshow.__INITIAL_STATE__ = {{ initialState | safe }};
		window.strideshow.__UI_STATE__      = {{ uiState | safe }};
		window.strideshow.__DEV_SERVER__    = "{{ devServer }}";
	</script>
	<script src='/bundle.js'></script>
	<script type="text/javascript" src="/js/impress.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
	<section id="instructions">
		<div class="container instr-step">
			<div class="instr-header">
				Step 1
			</div>
			<div class="instr-body">
				Download my fugging app
			</div>
		</div>
		<div class="container instr-step">
			<div class="instr-header">
				Step 2
			</div>
			<div class="instr-body">
				Click on one of the presentations below
			</div>
		</div>
		<div class="container instr-step">
			<div class="instr-header">
				Step 3
			</div>
			<div class="instr-body">
				Input the given number into the app
			</div>
		</div>
	</section>
	<section>
		<div class="demontrations">
			<div class="demo-section">
				<a href="/demo/universe">
					Universe Presentation
				</a>
			</div>
			<div class="demo-section">
				<a href="/demo/global-warming">
					Global Warming Presentation
				</a>
			</div>
			<div class="demo-section">
				<a href="/demo/quantum-physics-presentation-demo">
					Quantum Physics Presentation
				</a>
			</div>
			<div class="demo-section">
				<a href="/demo/autonomous-car-presentation-demo">
					Comic Book
				</a>
			</div>
		</div>
	</section>
	<section id="demo"></section>
</div>

{% endblock %}
