#dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 800px;

  .user-panel {
    border: 1px solid black;
  }

  .dashboard-main {
    display: flex;
    flex: 1 auto;

    .side-menu-control-room {
      border: 1px solid black;

      .dashboard-menu {

        div {
          cursor: pointer;
        }
      }
    }

    .project-control-room {
      display: flex;
      flex-direction: column;
      border: 1px solid black;

      .grid-container {
        flex: 1 auto;
      }
    }

    .mobile-widget-container {

    }
  }

  @media screen and (max-width: 768px) {
    .dashboard-main {
      display: block;
      flex: none;
    }
  }
}
