# top-most editorconfig file
root = true

# Unix-style newlines w/ a newline ending every file
[*]

# Styles
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Indentation
indent_style = space
indent_size = 2
