<footer>
	<div id="footer-container" class="container">
		<div class="footer-primary footer-border row">
			<div class="col-xs-12 col-md-2">
				<div class="footer-strideshow-brand">
					<h1>StrideShow</h1>
				</div>
			</div>
			<div class="col-xs-12 col-md-10">
				<div class="col-sm-6">
					<div class="footer-section site-links">
						<h4 class="footer-header footer-border">Site Links</h4>
						<ul>
							<li>Product</li>
							<li>App</li>
						
							<li>Pricing</li>
							<li>About</li>
						
							<li>Blog</li>
							<li>Newsroom</li>
						
							<li>Careers</li>
							<li>Team</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-section support-legal">
						<h4 class="footer-header footer-border">Support & Legal</h4>
						<ul>
							<li>Legal</li>
							<li>Contact</li>
							<li>Support</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-section social-media">
						<h4 class="footer-header footer-border">Social</h4>
						<ul>
							<li>
								<a href="https://www.facebook.com" target="_blank">
									<div class="social-icon">
										<span class="fa-stack fa-lg facebook-color">
											<span class="fa fa-square fa-stack-2x"></span>
											<span class="fa fa-facebook fa-stack-1x"></span>
										</span>
									</div>
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com" target="_blank">
								 	<div class="social-icon">
								 		<span class="fa-stack fa-lg twitter-color">
								 			<span class="fa fa-square fa-stack-2x"></span>
								 			<span class="fa fa-twitter fa-stack-1x"></span>
								 		</span>
								 	</div>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com" target="_blank">
									<div class="social-icon">
										<span class="fa-stack fa-lg linkedin-color">
											<span class="fa fa-square fa-stack-2x"></span>
											<span class="fa fa-linkedin fa-stack-1x"></span>
										</span>
									</div>
								</a>
							</li>
							<li>
								<a href="https://plus.google.com/" target="_blank">
									<div class="social-icon">
										<span class="fa-stack fa-lg google-plus-color">
											<span class="fa fa-square fa-stack-2x"></span>
											<span class="fa fa-google-plus fa-stack-1x"></span>
										</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-secondary footer-border row">
			<div class="copyright">
				© Copyright 2015-2016 StrideShow, Inc. All rights reserved.
			</div>
		</div>
	</div>
</footer>